<div id="itemsContainer">
<h1>Thank You<br>
You have just placed an order</h1>
</div>

<table id="customers">
<tr>
    <%= @orders.id %>

<td>Order reference for the order you just placed <%= @orders.id %></td>

</tr>
</table>

<table id="customers">
<% @total = 0 %>
<% @orderitems.each do |id, quantity| %>

<tr>
<% item = Orderitem.find_by_id(id) %>
<td><%= item.title %></td>
<td><%= item.quantity %></td>
<td><%=number_to_currency(item.price, :unit => "€")%></td>
<td><%= number_to_currency(item.quantity * item.price, :unit => "€") %></td>
</tr>

<tr>
<% timx = (item.quantity * item.price)%> <!--timx is a variable name which you can call whatever you like-->
<% @total += timx %>
</tr>

<% end %>

<tr>
<td>Order Total: &euro; <%= @total %></td>
</tr>

<td>
    Order Total: &euro; <%= @total %>
</td>
<% shipping = 30 %>
<% @overall = shipping + @total%>

<tr>
<td>Shipping &euro;30</td>
<td>You Pay &euro; <%= @overall %></td>
</tr>

</table>

<button type="button"><%= link_to "View Orders", orders_path %></button>

<!--<tr>
<td><h2> <a href="/paid/<%= @order.id %>" class="button">Pay Now</a></h2></td>
</tr>-->

<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="company@literaryboom.com">
<input type="hidden" name="item_name" value="Book Store Order Number <%= @orderNum %>">
<input type="hidden" name="currency_code" value="EUR">
<input type="hidden" name="amount" value="<%= @overall %>">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">

<!--tells paypal where to send the buyer after the transaction is complete-->
<input type="hidden" name="return" value="https://literaryboom.herokuapp.com/thankyou" >
</form>