<div id="itemsContainer">
<h1>Thank You<br>
You have just placed an order</h1>
</div>

<table id="customers">
<tr>
    <%= @orders.id %>

<td>Order reference for the order you just placed <%= @orders.id %></td>

</tr>
</table>

<table id="customers">
<% @total = 0 %>
<% @orderitems.each do |id, quantity| %>

<tr>
<% item = Orderitem.find_by_id(id) %>
<td><%= item.title %></td>
<td><%= item.quantity %></td>
<td><%=number_to_currency(item.price, :unit => "€")%></td>
<td><%= number_to_currency(item.quantity * item.price, :unit => "€") %></td>
</tr>

<tr>
<% timx = (item.quantity * item.price)%> <!--timx is a variable name which you can call whatever you like-->
<% @total += timx %>
</tr>

<% end %>

<tr>
<td>Order Total: &euro; <%= @total %></td>
</tr>

<td>
    Order Total: &euro; <%= @total %>
</td>
<% shipping = 30 %>
<% @overall = shipping + @total%>

<tr>
<td>Shipping &euro;30</td>
<td>You Pay &euro; <%= @overall %></td>
</tr>

</table>

<%= link_to "View Orders", orders_path %>

<tr>
<td><h2> <a href="/paid/<%= @order.id %>" class="button">Pay Now</a></h2></td>
</tr>