<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Literary BOOM!</title>
  <link rel="Stylesheet" href="Stylesheet.css">
  <script src="https://kit.fontawesome.com/ff52836ed1.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="sparkler">
<div class="box">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
     <div class="field">
     <%= f.label :name %>
     <p>Name:</p>
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <p>email:</p>
      <%= f.label :email %>
      
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

  <div class="field">
    <p>Password:</p>
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <p>Password Confirmation:</p>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
    <%= render "devise/shared/links" %>
    <% end %>


  </div>
  </div>
</div>

</body>
