<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Literary BOOM!</title>
  <link rel="Stylesheet" href="Stylesheet.css">
  <script src="https://kit.fontawesome.com/ff52836ed1.js" crossorigin="anonymous"></script>
</head>

<body>

<div class="rain">
  <div class = "createuser">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <p>Email:</p>
      <%= f.label :email %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <p>Password:</p>
      <%= f.label :password %><br>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
    <% end %>

  <%= render "devise/shared/links" %>
  </div>
</div>
<footer>
  <i class="far fa-address-card"></i>
  <p>Address: NCI, Mayor Street, International Financial Services Centre, Dublin </p>
  <i class="fas fa-phone"></i>
  <p> Phone Number: 0872315423 </p>
  <i class="fas fa-envelope"></i>
  <p>Email: Info@literaryboom.ie</p>
</footer>

</body>

</html>