<%=render 'layouts/categories'%>
Lets go to layouts/static_pages/home.html.erb and put in the code:
<h1>Categories</h1>
<br>
<% @categories.each do |category| %>
<div class="itemhols">
<p><%= category.description %></p>
</div>
<% end %>

<% @categories.each do |category| %>
<div class="itemhols">
<p><%= category.title %></p>
<%= link_to (image_tag category.image, :class=>"itemholsIm"), category %>
<p><%= category.description %></p>
</div>
<% end %>

<p><a href="/category/<%= category.title %>" class="button"><%= category.title %></a></p>