<% @categories.each do |category| %>
       <div class="itemhols">
           <p><%= category.title %></p>
           <%= link_to (image_tag category.image, :class=>"itemholsIm"), category %>
           <p><%= category.description %></p>
         </div>
        <p><a href="/category/<%= category.title %>" class="button"><%= category.title %></a></p>

    <% end %>