  <header>
    <section class="main">
    <label for="toggle">&#9776;</label>
    <input type="checkbox" id="toggle"/>
    <div class="NavBar">
      <a><%= link_to "Home", "/home" %></a>
      <a><%= link_to "About", "/about" %></a>
      <a><%= link_to "Help", "/help" %></a>
      <a><%= link_to "Browse", "/items" %></a>
      <a><%= link_to "Cart", "/cart" %></a>
      <a><%= link_to "Sign up", new_user_registration_path %></a>
    <% if user_signed_in? %>
        <a><%= link_to 'Edit Profile',  edit_user_registration_path %></a>
        <a><%= link_to 'Sign out',  destroy_user_session_path, :method => :delete %></a>
    <% else%>
        <a><%= link_to 'Sign in',  new_user_session_path %></a>
    <% end%>
   </div>
  </section>
  </header>
