<!DOCTYPE html>
<html>
  <head>
    <title>Deviseapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header'%>  
    <%= render 'layouts/search'%>
    <%#= render 'layouts/users/sign_in'%>
    <%#= render 'layouts/cart'%>
    
      <% if user_signed_in? %>
      
      <p>Hello, <%= current_user.name %> - <%= link_to "Sign_out", destroy_user_session_path, :method => 'delete' %></p>
      
      <br>
      <%if session[:cart_total].to_f >0 %>
        <p>Cart total price is: <%= session[:cart_total] %> Cart amount is: <%= session[:cart_amount] %> </p>
        
      <% end %>

      <% end %>
  </body>
  
    <%= yield %>
    
  </html>
